@import url(https://fonts.googleapis.com/css?family=Roboto:100);
body {
  background-color: #ffffff !important;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}
#lineChartPerMonth {
  margin: 0 auto !important;
}
#lineChartPerMonth,
#lineChartPerDay {
  border: 1.7px solid #dddddd;
  width: 70% !important;
  height: 70% !important;
  margin: 0 auto !important;
}
#parentChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #lineChartPerMonth,
  #lineChartPerDay {
    width: 100% !important;
  }
  .brand-logo {
    font-size: medium !important;
    overflow-wrap: break-word;
  }
  .editsize {
    font-size: medium;
  }
  td {
    width: 60%;
  }
}
